scikit_image==0.14.1
opencv_python==3.4.4.19
tqdm==4.28.1
torch==1.7.1+cu101
torchvision==0.8.2+cu101
scipy==1.2.0
numpy==1.15.4
Pillow==8.1.1
tensorboardX==1.5
editdistance==0.5.3
python-dotenv==0.17.1
wandb==0.10.30